{% extends "base.html" %}

{% block content %}

<h2> Quelles économies d'énergie en changeant l'usage de sa box internet ? </h2>

 <p>
     Plusieurs études détaillent la consommation des box internet, en fonction des opérateurs. Le projet  <a href="https://theshiftproject.org/article/pour-une-sobriete-numerique-rapport-shift/">"Pour une sobriété numérique"</a> 
     s'appuie notamment sur 3 sources : 
     <ul>
         <li> <a href=" https://www.echosdunet.net/dossiers/facture-denergie-peut-on-reduire-consommation-electrique-sa-box-internet">Les numériques</a>  </li>
         <li> <a href="https://ecoinfo.cnrs.fr">GDS EcoInfo</a>  </li>
         <li> Données de l'industrie</li>
     </ul>
     Les puissances de consommation des boxs (modem internet uniquement) sont résumées dans le graphique ci dessous :    
</p>

<h4> Situation de base : la box est allumée 24h/24 </h4>

<h4> Situation alternative 1 : la box est allumée en semaine de 20h à 00h et le weekend </h4>

<h4> Situation alternative 2 : la box est allumée uniquement lorsque l'utilisateur est connecté à internet</h4>

<h4> Et vous , quelles économies d'énergie pouvez vous faire ?</h4>

En semaine, votre box est allumée en moyenne XXX heures par jour. Le weekend, votre box est allumée en moyenne XX heures par jour

Calculer mes économies 

Vous réalisez XX% d'économies par rapport à un allumage constant de la box. Cette économie d'énergie vous permet d'économiser environ XX kWh d'électricité, soit un gain de XXeuros (en prenant comme référence le tarif bleu EDF) et une économie de XX tonnes de CO2.

{% endblock %}