<header class="header">
    <div class="container">
      <h1 class="site-title">Super Cool Website!</h1>
    <span class="site-tagline">Because flexbox is super cool!</span>
  </div>
</header>

<nav class="main-nav">
  <div class="container">
    <ul>
      <li class="mobile-button"><a href="#">Menu</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">Methods</a></li>
    <li><a href="#">Results</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  </div>
</nav>
{% block content %}{% endblock %}
<footer class="footer">
  <div class="container">
    <p>Footer Text, Yo. Made with love by <a href="http://cssgirl.com">Lindsey Di Napoli</a></p>
  </div>
</footer>